@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #5d7ccb;
}
#navbar #box a{
  color: white;
  padding: 0px 10px;
}

form{
  width: 450px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 30px auto;
  box-shadow: 0 0 15px rgb(227, 227, 227);
  border-radius: 5px;
}
form input{
  border: none;
  box-shadow: 0 0 2px #979696;
  width: 90%;
  padding: 7px 15px;
  border-radius: 50px;
  /* color: black; */
}
form button{
  width: 90%;
  margin-top: 10px;
  border-radius: 50px;
  cursor: pointer;
}
form input::placeholder{
  color: grey;
  padding: 2px;
}
form textarea{
  width: 90%;
  border: 1px solid;
}
form select{
  width: 90%;
  border-radius: 50px;
  padding: 10px 15px;
  border: 1px solid;
  color: black;
}

#footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  height: auto;
  width: 100%;
  background-color: #5d7ccb;
}
#footer #box{
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px;
}
#footer #box a{
  padding: 5px;
}
#footer #icons{
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#footer #icons img{
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 1px solid;
}

#dashboard{
  display: flex;
  width: 100%;
  background-color: white;
}
#dashboard #sidebar{
  height: 80vh;
  background-color: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding: 10px 20px;
  background-color: #5d7ccb;
}
#dashboard #sidebar a{
  font-weight: bold;
  text-align: start;
  padding: 7px 15px;
  width: 100%;
  /* color: white; */
  box-shadow: 0 0 2px;
  border-radius: 50px;
}
#dashboard #content{
  /* background-color: white; */
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}

table{
  width: 100%;
  margin: auto;
  color: black;
}
table th{
  background-color: #5d7ccb;
  color: white;
  border: 1px solid #5d7ccb;
}
table th,td{
  text-align: center;
  padding: 10px;
}
table td{
  border: 1px solid;
  width: 25%;
}

#search{
  display: flex;
  margin-top: 0;
  margin-bottom:10px;
  margin-left: 0px;
}
#search select{
  border-radius: 0px;
  box-shadow: 0 0 1px;
  border: none;
}

#main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 30px 0px;
}
#main #box{
  height: 100px;
  width: 250px;
  background-color: #5d7ccb;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  padding: 10px;
  font-weight: bold;
}

#dashboard-footer{
  align-content: center;
  text-align: center;
}

#slidebar{
  position: absolute;
  display: none;
  background-color: #5d7ccb;
  width: 300px;
  padding: 10px;
  height: 90vh;
}
#slidebar a{
  padding: 10px 15px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

a{text-decoration: none;}
#footer a{
  color: white;
}
@media (max-width: 768px) {
  #dashboard {
    flex-direction: column;
  }
  #dashboard #sidebar {
    width: 100%;
    max-width: none;
    height: auto;
    padding: 30px;
  }
  #navbar{
    align-items: start;
    justify-content: start;
  }
  #dashboard #content {
    width: 100%;
    height: auto;
    overflow-y: none;
  }
  #chart{
    flex-direction: column;
  }

  #footer {
    flex-direction: column;
  }

  #footer #icons {
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  #navbar {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    text-align: start;
  }

  #navbar #box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #navbar #box a {
    margin: auto;
    padding: 10px;
  }

  form {
    width: 95%;
    margin: 30px auto;
  }

  #footer #box {
    width: 90%;
  }

  #footer #icons img {
    height: 40px;
    width: 40px;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}